ONEBOT_API_BASE_URL=https://replace-with-current-onebot-read-endpoint.example/
ONEBOT_API_TOKEN=replace-with-current-read-token
DOORBELL_QQ_GROUP_ID=
DOORBELL_DATABASE_PATH=/var/lib/doorbell-commons/doorbell.sqlite
DOORBELL_UPSTREAM_REQUEST_TIMEOUT_MS=
DOORBELL_BELL_HEARTBEAT_INTERVAL_MS=30000
DOORBELL_BELL_REPLAY_INTERVAL_MS=60000
DOORBELL_PUBLIC_BASE_URL=https://doorbellcommons.com
DOORBELL_MCP_RUNTIME_READY=false
DOORBELL_FARM_API_BASE_URL=http://127.0.0.1:8092/
DOORBELL_FARM_HUMAN_UI_BASE_URL=https://doorbellcommons.com/farm-test/
DOORBELL_FARM_SERVICE_TOKEN=replace-with-test-farm-service-token
DOORBELL_LINGYE_DAILY_PUBLISH_TOKEN=replace-with-lingye-daily-publish-token
